// http://mcg.mbitson.com tool ot generate

$mat-custom-primary: (
  /* For use in src/lib/core/theming/_palette.scss */ 50: #e7e8ec,
  100: #c2c6cf,
  200: #9aa0b0,
  300: #727990,
  400: #535d78,
  500: #354060,
  600: #303a58,
  700: #28324e,
  800: #222a44,
  900: #161c33,
  A100: #7490ff,
  A200: #4167ff,
  A400: #0e3fff,
  A700: #0031f4,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  )
);

$mat-custom-secondary: (
  /* For use in src/lib/core/theming/_palette.scss */ 50: #e0f5fe,
  100: #b3e5fc,
  200: #80d4fa,
  300: #4dc2f7,
  400: #26b5f6,
  500: #00a8f4,
  600: #00a0f3,
  700: #0097f1,
  800: #008def,
  900: #007dec,
  A100: #ffffff,
  A200: #e0eeff,
  A400: #add3ff,
  A700: #93c6ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  )
);

$mat-custom-warn: (
  50: #ffe3e3,
  100: #ffb9b9,
  200: #ff8b8b,
  300: #ff5d5d,
  400: #ff3a3a,
  500: #ff1717,
  600: #ff1414,
  700: #ff1111,
  800: #ff0d0d,
  900: #ff0707,
  A100: #ffffff,
  A200: #fff4f4,
  A400: #ffc1c1,
  A700: #ffa7a7,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
