/* override material component's css here if globally needed */
.mat-form-field-wrapper,
.mat-form-field-flex,
.mat-form-field-infix {
  height: 100% !important;
  border: none !important;
  padding-bottom: 0px !important;
}
